*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.xml
.DS_Store
.idea
.project
.strong-pm
.env
coverage
node_modules
package-lock.json
npm-debug.log
*secret.json
*firebase.json
*app.yaml
.vscode/
